<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        body{
            margin: 0px;
            padding: 0px;
        }
        .map{
            height: 100%;
        }
        .way{
            height: 300px;
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            margin-top: 50px;
        }
    </style>
    <title>Document</title>
</head>
<body>
    <div class="map">
        <div class="way">
            <div></div>
        </div>
    </div>
</body>
</html>